$hbackground:#f5b042;
$fbackground:#915c07;
$tfont:Garamond, serif;
$nfont:'Times New Roman', serif;
$textcolor:white;
head {
    background-color: $hbackground;
    font-style: $tfont;
    color: $white;
}