@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');
body {
background: rgb(255,102,0);
background: radial-gradient(circle, rgba(255,102,0,1) 0%, rgba(241,132,11,1) 16%, rgba(207,204,38,1) 55%, rgba(255,0,0,1) 73%);
}
.title {
font-family: 'Otomanopee One', sans-serif;
}
.gradient {
background: rgb(255,102,0);
background: radial-gradient(circle, rgba(255,102,0,1) 0%, rgba(241,132,11,1) 16%, rgba(207,204,38,1) 55%, rgba(255,0,0,1) 73%);
border-bottom: 0px groove #000;
border-left: 6px double #000;
border-right: 6px double #000;
border-top: 6px double #000;
border-bottom: 6px double #000;
}
.border {
border: 2px solid #000;
}