@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');
body {
background-color: rgb(0, 0, 0);
}
.title {
font-family: 'Otomanopee One', sans-serif;
color: black;
}
.border {
border: 2px solid rgb(223, 214, 214);
}
nav {
    background-color: white;
    color: black; 
}
p {
    color: white;
}
.subtitle {
    color: white;
}
.blackbox {
    color: white;
    background-color: black;
    font-family: 'Otomanopee One', sans-serif;
}