.bannerimg{
    background: #fff url(/assets/banner.png) center center/cover no-repeat;
    color:rgb(48, 43, 43);
}
/*Colums*/
.column {
  float: left;
  width: 33.33%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}