body .settingsmenu {
    font-size:7px;
}
body .buttonrightallign {
    float: right;
}
body .backgroundimg1 {
    background: #fff url(/assets/photos/Lobby/main.png) center center/cover no-repeat fixed;
}